# Core functionality - changes here should be rare!
/src/app.py                   @suletetes
/src/backend/database.py      @suletetes
/src/backend/routers/auth.py  @suletetes

# The frontend will need refactored soon to be more object oriented.
/src/static/   @suletetes
